extends ../main.pug

block content
    each card in cards
        div
            a(href="/book?id=" + card.bookId) #{card.bookName} #{card.year}
            p #{card.bookDescription}

    a(href="/create", class="button") Пожертвовать книгу библиотеке