extends ../main.pug

block content
    if error != undefined
        div(class="error") #{error}
    div(class="text-center")
        form(method="post", action="/add", class="form-signin")
            input(type="text", placeholder="Name", name="name", class="form-control", value="" + params.name)
            input(type="text", placeholder="Author", name="author", class="form-control", value="" + params.author)
            input(type="number", placeholder="Publish year", name="year", class="form-control", value="" + params.year)
            input(type="text", placeholder="Publisher", name="publisher", class="form-control", value="" + params.publisher)
            textarea(rows=3, placeholder="Short description", name="description", class="form-control")
            textarea(rows=3, placeholder="Content", name="content", class="form-control")
            input(type="submit", class="btn btn-lg btn-primary btn-block btn-h", id="button", value="Добавить")