<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/frontend.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Eloquent</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Articles<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/my-articles">My articles</a></li>
                        <li><a href="/create">Create a new article</a></li>
                        <li><a href="/suggestions">Suggestions</a></li>
                    </ul>
                </li>
                <li><a href="/search">Users search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="navbar-text"><strong>{{ login }}</strong></span></li>
                <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% if user_page_name %}
    <h3>Create a suggestion to {{ user_page_name }}!</h3>
    {% else %}
    <h3>Create unique eloquent article!</h3>
    {% endif %}
    <form action="/post-article{{'?user=' + user_page_name if user_page_name else ''}}" id="post-form" method="post">
        <div class="form-group">
            <h3>Title</h3>
            <input type="text" class="form-control no-border" placeholder="Article title" name="title">
        </div>
        <div class="form-group">
            <h3>Content</h3>
            <textarea class="form-control" rows="20" placeholder="Article content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default" id="post-btn" >Post</button>
    </form>
</div>

</body>
</html>
