doctype html
html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/header.css" type="text/css")
        body
            ul(class="nav")
                li
                    a(href="/") Главная
                if user
                    li
                        a(href="/logout") Выйти
                else
                    li
                        a(href="/signin") Войти
                    li
                        a(href="/signup") Зарегистрироваться

            block content
