[Unit]
    Description=TcpImg
    After=xorg

[Service]
    Environment='DISPLAY=:0'
    ExecStart=/root/tcpimg
    WorkingDirectory=/root
    User=root
    Group=root
    CPUQuota=30%
    MemoryLimit=1000M

    
[Install]
    WantedBy=multi-user.target
