.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 10px;
}

.btn-h {
    height: 48px;
}

.error {
    width: 100%;
    max-width: 300px;
    padding:.375rem .75rem;
    margin: 10px auto;
    font-size:1rem;
    text-align: center;
    color: #c82333;
    background-color: #f5c6cb;
    border:1px solid #ced4da;
    border-radius:.25rem;
}