[Unit]
	Description=lifesim db initializer

[Service]
	ExecStart=/home/lifesim/up.sh %i
	WorkingDirectory=/home/lifesim
	User=root
	Group=root
	Restart=always

[Install]
	WantedBy=multi-user.target
